@model StartGrow.Models.InversionRecuperadaViewModels.InversionRecuperadaCreateViewModel

@{
    ViewData["Title"] = "Create";
}


<h2>Indicar cantidades a recuperar</h2>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">

    <table class="table">
        <thread>
            <tr>
                <th>
                    Id de la Inversión
                </th>
                <th>
                    Proyecto
                </th>
                <th>
                    Tipo de Inversión
                </th>
                <th>
                    Área
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Cuota
                </th>
                <th>
                    Intereses
                </th>
                <th>
                    Estado de la Inversión
                </th>
                <th width="60">
                    Total
                </th>
                <th>
                    <center>
                        Cantidad a Recuperar
                    </center>
                </th>
                <th>
                    <center>    
                        Comentario
                    </center>
                </th>

            </tr>
        </thread>
        <tbody>
            @if (Model.Inversiones.Count() == 0)
            {
                <tr><td colspan="3">No hay inversiones disponibles</td></tr>
            }
            else
            {
                @foreach (var item in Model.Inversiones)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InversionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoInversiones.Nombre)
                    </td>
                    <td>
                        @foreach (var proyectoAreas in item.Proyecto.ProyectoAreas)
                        {
                            @Html.DisplayFor(modelItem => proyectoAreas.Areas.Nombre)
                        }<br>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proyecto.Rating.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuota)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Intereses)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadosInversiones)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total) €
                    </td>
                    <td>
                        <div class="form-group">
                            <input asp-for="CantidadRec" class="form-control" size="5" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <textarea asp-for="Comentario" rows="5" cols="30"></textarea>
                        </div>
                    </td>

                </tr>
                }
            }
        </tbody>
    </table>


    <button type="submit" class="btn btn-primary">Recuperar Inversiones</button>
    <a asp-action="Index" class="btn btn-default">Cancelar</a>
</form>


