@model IEnumerable<StartGrow.Models.Inversion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InversorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cuota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Intereses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyecto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InversorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intereses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InversionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InversionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InversionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
